

  {% for article in homearticle%}

  <div class="media" style="padding-top : 50px">
    <img src="images/makeup/{{article.home_article_img}}" class="align-self-center mr-3" alt="...">
    <div class="media-body">
        <h5 class="text-center"  style="padding-top : 55px" >{{article.home_article_title}}</h5>
        <p class="text-center" style="padding-top : 55px">{{article.home_article_description}}</p>
    </div>
  </div>
  {% endfor%}