

  {% for article in homearticle%}

  <div class="media" style="padding-top : 50px">
    <img src="images/makeup/images.png" class="align-self-center mr-3" alt="...">
    <div class="media-body">
        <h5 class="mt-0">{{article.home_article_title}}</h5>
        <p>{{article.home_article_description}}</p>
    </div>
  </div>
  {% endfor%}