

  {% for article in homearticle%}

  <div class="media" style="padding-top : 50px">
    <div class="row">
      <div class="col-md-5">
        <img class="img-fluid" src="images/makeup/{{article.home_article_img}}" class="align-self-center mr-3" alt="...">
      </div>
      <div class="col-md-7 media-body">
        <h5 class="text-center"  >{{article.home_article_title}}</h5>
        <p class="text-center mt-3">{{article.home_article_description}}</p>
      </div>
    </div>
  </div>
  {% endfor%}