
  <img src="images/makeup/banner.jpg" class="img-fluid" alt="Responsive image">

<nav class="navbar sticky-top navbar-light bg-light justify-content-center ">
  
  
  <ul class="nav justify-content-center">
  
      {% for name, link in pages %}
      <li class="nav-item">
        <a class="nav-link text-capitalize {{(link == currentPage) ? 'active' : '' }}" href="{{link}}">{{name}}</a>
      </li>
      {% endfor %}
  </ul>
    
</nav>