
  <img src="images/makeup/banner5.png" class="img-fluid" alt="Responsive image">

<nav class="navbar sticky-top navbar-light bg-light justify-content-center ">
  
  
  {#<ul class="navbar-nav ">#}
  
      {% for name, link in pages %}
      {#<li class="nav-item">#}
        <a class="nav-link text-capitalize text-dark {{(link == currentPage) ? 'active' : '' }}" href="{{link}}">{{name}}</a>
      {#</li>#}
      {% endfor %}
  {#</ul>#}
    
</nav>