<html>
    {% include 'includes/head.twig' %}
    
    <body>
        
        <div class="container">
            {% include 'includes/navigation.twig'%}
            {% include 'includes/articleaboutme.twig'%}
        </div>
    </body>
</html>