<!doctype html>
<html>
    {% include 'includes/head.twig' %}
    
<style>

.images {
    display: grid;
    grid-template-columns: 31.5% 31.5% 31.5% ;
    grid-column-gap: 3%;
    grid-template-rows: auto;
    grid-row-gap: 1.5em; }
    
</style>

    <body>
        
        <div class="container">
            {% include 'includes/navigation.twig'%}
            <div class="row">
                <div class="images"> 
               {% for images in gallery_images %} 
               
               
            
                   
                   <img class="img-fluid image" src = "images/makeup/{{images.gallery_img}}" >
                   
               
               
               
               
               
               
               
               {% endfor  %}
                
                
                
                </div>
                
                
            </div>
            
            
            
            
        </div>
    </body>
</html>