<!doctype html>
<html>
    {% include 'includes/head.twig' %}
    
    <body>
        
        <div class="container">
            {% include 'includes/navigation.twig'%}
            {% include 'includes/homecaroussel.twig'%}
            {% include 'includes/homearticle.twig'%}
            
            {#if login then add form show#}
            {%if user %}
            {%include 'includes/homeArticleUpload.twig'%}
            {%endif%}
            
        </div>
    </body>
</html>