<!doctype html>
<html>
    {% include 'includes/head.twig' %}
    
    <body>
        
        <div class="container">
            {% include 'includes/navigation.twig'%}
            
                {% for service in servicearticle %}
                
                  <div class="media" style="padding-top : 50px">
                    <img src="images/makeup/{{service.services_img}}" class="align-self-center mr-3" alt="...">
                    <div class="media-body">
                        <h5 class="text-center"  style="padding-top : 55px" >{{service.	services_title}}</h5>
                        <p class="text-center" style="padding-top : 55px">{{service.services_description}}</p>
                    </div>
                  </div>
                    
                {%endfor%}
            
            {# form adding new article#}
        </div>
    </body>
</html>